@use 'vars';
@use 'keyframe';

.details {
  animation: 1s ease-out 0s 1 slideFromTop;
  position: relative;
  margin-top: -1rem;
  width: 100%;
  min-height: 50vh;

  .background {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      object-fit: cover;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #041226, $alpha: 0.8);
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      box-shadow: 0px 7px 20px black;
    }
  }

  .content {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 5rem 0;

    span {
      color: vars.$greyColor;
    }

    .description {
      display: flex;
      flex-direction: column;
      flex: 0.6;
      color: vars.$lightColor;
      font-family: var(--font-montserrat);

      h1 {
        font-weight: 700;
        font-size: 2.6rem;
        margin: 0;

        span {
          font-size: 2rem;
        }
      }

      .production {
        font-size: 1.3rem;
        margin-top: 1.5rem;
      }

      h2 {
        color: vars.$lightColor;
        font-size: 2rem;
        font-weight: 500;
        margin: 2.5rem 0 0;
      }

      .overview {
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-weight: 300;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-top: 1rem;
      }

      .credits {
        margin-top: auto;
      }
    }
  }
}