@use 'vars';

.container {
  display: flex;
  width: 80%;
  justify-content: center;
  margin: 0 auto 3rem auto;
  flex-wrap: wrap;
  gap: 2rem;

  .genre {
    padding: 1rem 0;
    background-color: vars.$primaryColor;
    color: vars.$lightColor;
    font-weight: bold;
    flex: 0 0 calc(20% - 2rem);
    text-align: center;
    border-radius: .3rem;

    p {
      font-size: 1.5rem;
    }
  }
}