@use 'vars';
@use 'keyframe';

.similar {
  animation: 2s ease-out 0s 1 fadeIn;
  display: flex;
  justify-content: center;

  .list {
    display: flex;
    gap: 2rem;
    margin: 3rem 0 5rem 0;

    > div {
      width: 20rem;
    }
  }
}